/*Reset css*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

:root {
  --pink-color: #ff64ae;
  --gray-color: #8b8b8b;
  --blue-color: #091156;
  --white-color: #ffffff;
}

/* -------------------------------------------------------------------------------------------------------------------- */
/* Site header*/
/* -------------------------------------------------------------------------------------------------------------------- */
body > .container {
  background-image: url(./assets/img/SlideBackground.png);
  background-repeat: no-repeat;
}

.site-header {
  max-width: 1400px;
  width: 100%;
  height: 63px;
  float: left;
  padding: 40px 0 0 0;
}

.site-header .main-logo {
  width: 258px;
  height: 63px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-left: 145px;
}

.site-header .main-menu {
  width: 481px;
  height: 25px;
  justify-content: space-between;
  margin: 0px 52px 0px 195px;
}

.site-header .main-menu .btn-home-icon {
  font-weight: 600;
  color: #414880;
}
.site-header .main-menu .plus-icon {
  padding-left: 5px;
  width: 7px;
  height: 7px;
}

.site-header .main-menu .btn-header {
  font-weight: 500;
  color: var(--gray-color);
}

.site-header .contact-btn {
  width: 158px;
  height: 52px;
  margin-top: -3px;
}

.site-header .nav-menu {
  display: none;
}

.site-header .nav-menu-icon {
  display: none;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/*Main slider*/
/* -------------------------------------------------------------------------------------------------------------------- */

.main-slider {
  height: 100%;
}

.main-slider .slider {
  width: 100%;
  height: 400px;
  display: flex;

  padding: 173px 0px 0px 0px;
}

.main-slider .slider .content {
  max-width: 430px;
  height: 128px;
  padding: 40px 0px 0 189px;
  line-height: 125%;
  font-size: 48px;
  letter-spacing: 0.9px;
}

.main-slider .slider .content .title {
  font-weight: 600;
  color: var(--blue-color);
  margin: 0;
}

.main-slider .slider .content > p {
  margin: 7px 0px 0px 3px;
  min-width: 474px;
  width: 100%;
  height: 54px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: var(--blue-color);
}

.main-slider .slider .image-header {
  margin: -18px 0 0px 66px;
}

.main-slider .slider .btn-more {
  width: 200px;
  margin: 28px 0 0 0;
}

.main-slider .change-slide {
  padding-top: 109px;
  padding-left: 45%;
}

.main-slider .change-slide .btn-slide {
  width: 20px;
  height: 2.146px;
  flex-shrink: 0;

  cursor: pointer;
  border: none;
  background: #eeeeee;
}

.main-slider .change-slide .btn-slide-active {
  width: 26px;
  height: 8.146px;
  flex-shrink: 0;

  cursor: pointer;
  border: none;
  background: #414880;
  border-radius: 50px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
/* -------------------------------------------------------------------------------------------------------------------- */
/*Core Service*/
/* -------------------------------------------------------------------------------------------------------------------- */
.core-service {
  width: 100%;
  height: 732px;

  margin: 123px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}

.core-service .service-content {
  height: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.core-service .service-content p {
  margin: 0px 0 0 -74px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.4px;
  color: var(--pink-color);
}

.core-service .service-content .learn {
  width: 450px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 48px;
  color: var(--blue-color);
  margin: 9px 0 0 -76px;
}

.core-service .service-content .content {
  max-width: 848px;
  width: 100%;
  word-wrap: break-word;
  padding: 15px 80px 0 0px;
  font-size: 16px;
  letter-spacing: 1.6px;
  font-weight: 400;
  text-align: center;
  color: var(--gray-color);
}

.core-service .service-banner {
  padding-top: 85px;
  width: 100%;
  height: 458px;

  display: flex;
  justify-content: center;
}

.core-service .service-banner .banner {
  width: 343px;
  height: 458px;

  background: var(--white-color);
  box-shadow: 0px 25px 50px 25px #f7f7ff;
  border-radius: 42px;

  flex-direction: column;

  display: flex;
  align-items: center;
}

.core-service .service-banner .banner:nth-child(1) {
  margin-left: -78px;
}

.core-service .service-banner .banner:nth-child(2) {
  margin: 0 55px;
}

.service-banner .banner .image {
  width: 166px;
  height: 166px;

  margin: 59px 0px;
  border-radius: 50%;
  background: linear-gradient(180deg, #eef0ff 0%, var(--white-color) 100%);
}

.service-banner .banner .title {
  width: 263px;
  height: 37px;

  font-weight: 600;
  line-height: 125%;
  letter-spacing: 1.2px;
  text-align: center;
  color: var(--blue-color);
}

.service-banner .banner .description {
  width: 274px;
  height: 80px;
  font-size: 14px;
  letter-spacing: 1.4px;
  font-weight: 400;
  text-align: center;
  margin-top: 5px;

  color: var(--gray-color);
}

/* -------------------------------------------------------------------------------------------------------------------- */
/*About Us*/
/* -------------------------------------------------------------------------------------------------------------------- */
.about-us {
  width: 100%;
  height: 900px;

  background-image: url("./assets/img/BackgroundBubble.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain, cover;
  z-index: 0;

  margin-top: -200px;
}

.about-us .content {
  margin-left: 17px;
  margin-top: 150px;
}

.about-us .content > p {
  width: 90px;
  height: 20px;

  font-weight: 600;
  color: var(--pink-color);
}

.about-us .content .title {
  width: 664px;
  height: 52px;

  font-weight: 600;
  color: var(--blue-color);
}

.about-us .content .description {
  max-width: 480px;
  height: 196px;

  font-weight: 400;
  color: var(--gray-color);
}

.about-us .image {
  width: 476px;
  height: 350px;

  margin-right: 94px;
  margin-top: 214px;
  border-radius: 12%;
  background-image: url("./assets/img/unsplash_LRXYS0tSyGc.png");
  background-position: center;
}

.content .btn {
  margin-top: 50px;
  display: flex;
}

.content .btn .btn-learn {
  width: 200px;
  margin-right: 40px;
}

.content .btn .btn-play {
  margin: 5px 0 0 5px;
  width: 213px;
  height: 49px;
  border-radius: 50px;

  font-weight: 600;
  color: var(--gray-color);

  display: flex;
  align-items: center;
}

.content .btn .btn-play img {
  margin-right: 13px;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/*Pro team*/
/* -------------------------------------------------------------------------------------------------------------------- */
.pro-team {
  margin-top: -40px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  z-index: 10;
}

.pro-team .pro-team-content > p {
  font-weight: 600;
  text-align: center;

  color: var(--pink-color);
}

.pro-team .pro-team-content .pro {
  margin: 8px 0px;

  font-weight: 600;
  text-align: center;

  color: var(--blue-color);
}

.pro-team .pro-team-content .content {
  font-weight: 400;
  text-align: center;
  color: var(--gray-color);
}

.pro-team .pro-team-banner {
  margin-top: 112px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pro-team-banner .banner {
  width: 424px;
  height: 626px;

  background: var(--white-color);
  box-shadow: 0px 25px 50px 25px #f7f7ff;
  border-radius: 42px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.pro-team-banner .banner img {
  padding: 90px 0 53px;
}

.pro-team-banner .banner-transparent {
  background: transparent;
  box-shadow: none;
  border-radius: 42px;
}

.pro-team-banner .position {
  font-weight: 600;
  color: var(--pink-color);
}

.pro-team-banner .name {
  font-weight: 600;
  padding: 12px 0 8px;

  color: var(--blue-color);
}

.pro-team-banner .description {
  margin: 8px 0px 50px;

  width: 280px;
  text-align: center;

  color: var(--gray-color);
}

.pro-team-banner .banner .social {
  margin-top: -90px;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/*Contact*/
/* -------------------------------------------------------------------------------------------------------------------- */

.contact {
  background-image: url("./assets/img/BackgroundContact.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain, cover;

  margin-top: -33px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.contact .image-contact {
  padding-top: 357px;
  margin-right: 257px;
}

.contact .container {
  margin: 157px 0 0 -200px;

  width: 520px;

  display: flex;
  flex-direction: column;
}

.contact .contact-content > p {
  font-style: normal;
  font-weight: 600;
  color: var(--pink-color);
}

.contact .contact-content .tittle {
  max-width: 404px;
  width: 100%;
  line-height: 125%;
  margin: 8px 0px 12px;
  font-weight: 600;
  color: var(--blue-color);
}
.contact .contact-content .description {
  margin-top: 18px;
  font-weight: 400;
  color: var(--gray-color);
}

.contact .contact-form {
  width: 100%;

  padding-top: 60px;
  font-weight: 400;
  color: #c5c5c5;

  display: flex;
  flex-direction: column;
}

.contact .contact-form .input {
  height: 61px;
  padding-left: 12px;
  margin-bottom: 38px;
}

.contact .contact-form .input-name {
  width: 100%;
  padding-right: 12px;
  display: flex;
  justify-content: space-between;
}

.contact .contact-form .input-name .input {
  width: 45%;
}

.contact .contact-form .textarea {
  height: 240px;
  resize: none;

  padding: 20px 0px 0px 12px;
}

.contact .contact-form .send-massage {
  width: 248px;
  margin-top: 55px;
  border: none;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/*Footer*/
/* -------------------------------------------------------------------------------------------------------------------- */

.footer {
  height: 705px;
  width: 100%;
  padding: 25px 0px 0px;

  background-image: url("./assets/img/FooterBG.png"),
    url("./assets/img/BottomBG.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, bottom left;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  font-weight: 400;
  color: #d7dbff;
}

.footer .container-footer {
  margin: 16% 150px 0;
  display: flex;
}
.footer .footer-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: -16px;
}

/* .footer .detail {
} */

.footer .pages {
  padding-left: 168px;
  padding-right: 204px;
  width: 100%;
  min-width: 100px;
}

.footer .information {
  width: 100%;
  min-width: 250px;
}

.footer .tittle {
  padding-bottom: 24px;

  font-weight: 600;
  letter-spacing: 0.1em;

  color: var(--white-color);
}

.footer .footer-logo {
  padding-bottom: 33px;
}

.footer-page-information {
  padding-left: 4px;
  margin: 12px 0;
}

/* -------------------------------------------------------------------------------------------------------------------- */
/* bottom-footer */
/* -------------------------------------------------------------------------------------------------------------------- */
.bottom-footer {
  max-width: 1200px;
  margin: -120px 90px 0px;

  display: flex;
  justify-content: space-between;
}

.bottom-footer .copy-right {
  letter-spacing: 1.6px;
  color: var(--white-color);
}

.scroll-top {
  display: none;
  position: fixed;
  bottom: 163px;
  right: 143px;
}

/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */
.display-none {
  display: none !important;
}

.df {
  display: flex;
}

.df-center-space {
  display: flex;
  align-items: center;
}

.df-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-left-24 {
  padding-left: 24px;
}

.padding-right-48 {
  padding-left: 48px;
}

.padding-bottom-26 {
  padding-bottom: 26px;
}

.fz-14-italic {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
}

.fz-14 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
}

.fz-16 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
}

.fz-48 {
  font-size: 48px;
}
.fz-36 {
  font-size: 36px;
}
.fz-18 {
  font-size: 18px;
  line-height: 27px;
}

.line-height-125 {
  line-height: 125%;
}

.btn-pink {
  height: 58.36px;
  background: var(--pink-color);
  box-shadow: 0px 17px 22px #ffedf6;
  border-radius: 50px;

  color: var(--white-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.1em;

  display: flex;
  align-items: center;
  justify-content: center;
}

.input-color {
  background: var(--white-color);
  border: 1px solid #d9ddfe;
  border-radius: 15px;
}
